* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#pause-screen {
	display: none;
	color: white;
	padding-top: 40vh;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#pause-screen p {
	font-size: 100px;
	font-weight: 500;
	transform: translateY(-100%);
}
#pause-screen p:nth-child(2) {
	font-size: 50px;
}

#timer,
#score,
#meteor-scores {
	color: white;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	position: absolute;
}

#timer {
	display: block;
}

#score {
	top: 10px;
	left: 10px;
}

.meteor-score {
	background-image: url("https://imga.androidappsapk.co/zhZdXcmO9dgAcu27xEEIvf_tb7TMqxhqdrG5nI9ECl9NMtvJXR00_E4z4x8p7PTX_Ew=s100");
	background-size: cover;
	position: absolute;
}

.meteor-score span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#xlg {
	width: 100px;
	height: 100px;
	top: 100px;
	left: 10px;
}

#lg {
	width: 90px;
	height: 90px;
	top: 210px;
	left: 10px;
}

#md {
	width: 80px;
	height: 80px;
	top: 310px;
	left: 10px;
}

#sm {
	width: 70px;
	height: 70px;
	top: 400px;
	left: 10px;
}

#timer {
	color: white;
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.smooth {
	transition: all 2s;
	border: 5px solid red;
}
