* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#pause-screen {
	display: none;
	color: white;
	padding-top: 40vh;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#pause-screen p {
	font-size: 100px;
	font-weight: 500;
	transform: translateY(-100%);
}
#pause-screen p:nth-child(2) {
	font-size: 50px;
}

.text {
	color: white;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

#timer {
	display: block;
}

#score {
	top: 10px;
	left: 10px;
}

#xlg {
	top: 50px;
	left: 10px;
}

#lg {
	top: 100px;
	left: 10px;
}

#md {
	top: 150px;
	left: 10px;
}

#sm {
	top: 200px;
	left: 10px;
}

#timer {
	color: white;
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.smooth {
	transition: all 2s;
	border: 5px solid red;
}

.absolute {
	position: absolute;
}
