html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	height: 100vh;
	position: relative;
}

#pause-screen {
	display: none;
	color: white;
	padding-top: 40vh;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 100;
}

#pause-screen p {
	font-size: 100px;
	font-weight: 500;
	transform: translateY(-100%);
}
#pause-screen p:nth-child(2) {
	font-size: 50px;
}

#timer,
#scores,
#meteor-scores {
	color: white;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	position: absolute;
}

#scores {
	display: none;
}

#topScore {
	width: 200px;
	padding: 0 25px 0 10px;
	border-bottom-right-radius: 20px;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

#score {
	width: 70%;
	padding: 0 25px 0 10px;
	font-size: 25px;
	background-image: linear-gradient(315deg, #990000 0%, #ff0000 74%);
	border-bottom-right-radius: 50px;
}

#topScore:hover {
	cursor: pointer;
}

#meteor-scores {
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	height: 300px;
	top: 10vh;
	right: 0;
	padding: 20px 0;
	border: 4px solid black;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.meteor-score {
	display: block;
	width: 100px;
	height: 100px;
	background-image: url('src/spawns/meteor/METEOR.png');
	background-size: cover;
	position: relative;
}

.meteor-score span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#lg {
	width: 90px;
	height: 90px;
}

#md {
	width: 80px;
	height: 80px;
}

#sm {
	width: 70px;
	height: 70px;
}

#timer {
	display: block;
	color: white;
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#playAgain {
	font-size: 40px;
	background-color: #990000;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	transition: all 0.2s;
}

#playAgain:hover {
	cursor: pointer;
	background-color: #d00000;
	transform: translateY(-5px);
}

.smooth {
	transition: all 2s;
	border: 5px solid red;
}

#PLAYER_1 {
	border: 1px solid red;
}
